include ../_util
nav
    ul.menu
        li
            a(href="index.pug", rel="") Who I Am
        li
            a(href="projects.pug", rel="") My Projects
        li
            a(href="contact.pug", rel="author") Contact Me
        li
            a(href="https://blog.marco-alka.de", rel=linkExternalFollow) My Blog
    ul.socialmedia
        li.hashnode
            a(href="https://hashnode.com/@maruru", target ="_blank", rel=linkExternal)
                img(alt="Hashnode", title="Hashnode", src="img/hashnode_light.png")
        li.devto
            a(href="https://dev.to/maruru", target ="_blank", rel=linkExternal)
                img(alt="Dev.to", title="Dev.to", src="img/dev_light.png")
        li.twitter
            a(href="https://twitter.com/minecrawlerx", target ="_blank", rel=linkExternal)
                img(alt="Twitter", title="Twitter", src="img/twitter_light.png")
        li.xing
            a(href="https://www.xing.com/profile/Marco_Alka", target ="_blank", rel=linkExternal)
                img(alt="Xing", title="Xing", src="img/xing_light.png")
        li.linkedin
            a(href="https://www.linkedin.com/in/marco-alka-678825a8/", target ="_blank", rel=linkExternal)
                img(alt="LinkedIn", title="LinkedIn", src="img/linkedin_light.png")
